<div class="large-6 cell">
  <a href="<%= list_path %>" class="button">
    К списку
  </a>

  <div class="large-12 cell">
    <form method="get">
      <div class="grid-x grid-padding-x">
        <% unless @params[:errors].empty? %>
          <div class="large-12 cell callout warning">
            <p>
              Параметры фильтра введены неверно, данные не были отфильтрованы
            </p>
            <ul>
              <% @params[:errors].each do |error| %> 
                <li><%= error %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="large-6 cell">
          <label>Возраст:
            <input type="text" placeholder="26" name="age" value="<%= @params[:age] %>">
          </label>        
        <div class="large-12 cell">
          <input type="submit" value="Вывести статистику" class="button">
        </div>
      </div>
    </form>
  </div>
</div>

<% if @statistic_from_vacancies && @statistic_from_seekers %>
  <div class="large-12 cell callout" data-closable >
    <p>Статистика за <%= @params[:age] %> лет\год</p>
    <ul>
      <li><%="Средний оклад среди вакансий:  #{@statistic_from_vacancies}" %></li>
      <li><%="Средний оклад среди соискателей:  #{@statistic_from_seekers}" %></li>
    </ul>
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>